ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
AVAX_FUJI_URL=https://eth-ropsten.alchemyapi.io/v2/API_KEY
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/API_KEY
RINKEBY_URL=https://eth-ropsten.alchemyapi.io/v2/API_KEY
PRIVATE_KEY=''
