html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("https://github.com/mcruzvas/NEXTJS_HARDHAT_TYPESCRIPT-Defi/blob/master/frontend-next/public/pepe_stonk_4.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@tailwind base; 
@tailwind components; 
@tailwind utilities;